@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Roboto&display=swap");
* {
  margin-left: auto;
  margin-right: auto;
}

#img1 {
  height: 600px;
  margin-left: 480px;
  margin-top: 85px;
}

#logoimg {
  padding: 5px;
  height: 100px;
  margin-left: 5px;
}

#dada {
  font-weight: bold;
  font-family: "Lobster", cursive;
  font-size: 40px;
  margin-left: 90px;
  margin-top: 30px;
  width: 60px;
  color: #090963;
}

#logodiv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  position: relative;
  right: 0px;
  top: 30px;
  width: 100px;
  height: 40px;
  background-color: white;
  border-color: black;
  border-radius: 5px;
  color: #090963;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-right: 5px;
}

#h1 {
  color: rgba(32, 172, 172, 0.863);
  font-size: 40px;
  height: 100px;
  width: 400px;
  text-align: center;
}

#h2 {
  color: rgba(71, 10, 91, 0.863);
  font-size: 30px;
  height: 90px;
  width: 400px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#h3 {
  color: rgba(32, 172, 172, 0.863);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#para1 {
  height: 100px;
  width: 400px;
  text-align: center;
  font-size: 15px;
}

#para2 {
  height: 100px;
  width: 300px;
  text-align: center;
  font-size: 22px;
  color: #230d71;
}

#button2 {
  display: flex;
  flex-wrap: wrap;
  background-color: #230d71;
  border-color: black;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.para3 {
  font-weight: bold;
  font-size: 18px;
  height: 30px;
}

.imgp1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 30%;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  body #para2 {
    width: 100%;
  }
}