@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Roboto&display=swap');

*{
  margin-left: auto;
  margin-right: auto;

}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
  }
  
  li {
    float: left;
    width: 50%;
    height: 100px;
  }
  #img1{
    height: 600px;
    margin-left: 480px;
    margin-top: 100px;
  }
  #logoimg{
    padding: 5px;
    height: 100px;
  }
  #dada{
    font-weight: bold;
    font-family: "Lobster", cursive;
    font-size: 40px;
    margin-left: 90px;
    margin-top: 30px;
    width: 60px;
    color: rgb(9, 9, 99);
  }
 
.logo{
  margin-left: 500px;
  margin-top: 35px;
  width: 100px;
  height: 40px;
  background-color: white;
  border-color: black;
  border-radius: 5px;
  color: rgb(9, 9, 99);
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

#h1{
  color: rgba(32, 172, 172, 0.863);
  font-size: 40px;
  height: 100px;
  width:400px;
  text-align: center;
}
  
 

 